html,
body {
  background: #FFF;
}

html {
  font-size: 14px;
}

h1 {
  font-size: 2rem!important;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 15px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 18px;
  }
}

#app {
  overflow: hidden;
    overflow-y: scroll;
}

#header{
  border-bottom: 1px solid #19191B;
    position: fixed;
    top: 0px;
    background: #242427;
    width: 100%;
    z-index: 9;
    color: white;
    padding-right: 14px;
}

#header h5 {
  text-align: right;
  padding: 8px 0 0;
}

#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  background: rgb(241,241,241);
  color: white;
  margin-bottom: 0;
  padding-left: 10px;
  /*border-right: 1px solid #DADADA;*/
}

.search-wrapper {
  height: 50px;
  background: #DFDFDF;
  padding-top: 12px;
  padding-right: 25px;
  margin-left: -10px;
}

.main-search-input {
  width: 148px;
  background: none;
  border: none;
}

.add-proj-icon {
    padding: 0;
    margin: 0;
    top: -7px;
    /*position: absolute;*/
}

.proj-anchor {
  height: 50px;
  padding: 8px 0px 0px 2px;
  /*border: 1px dashed grey;*/
}

.add-proj-wrapper {
    position: relative;
    top: -33px;
    /*border: 1px dashed black;*/
    width: 16px;
    height: 16px;
    padding: 0;
    right: -140px;
}

#projectMenu {
  margin-left: -10px;
  /*border: 1px dashed grey;*/
  padding-left: 25px;
  margin-top: -15px;
}

.proj-content {
  position: relative;
  /* border: 1px dashed; */
  /* right: 26px; */
  top: -11px;
  text-align: right;
  margin: 0 -10px;
  background: #757CDE;
  color: white;
  padding: 10px;
}

ul.nav li {
    padding: 6px;
    /*border: 1px dashed;*/
}

.project-wrapper {
  position: relative;
    /* top: -25px; */
    /*border: 1px dashed;*/
    /* z-index: 0; */
    top: 12px;
}

.container-player-btns {
    top: -45px;
    right: 73px;
    /* width: 100%; */
    float: right;
    text-align: right;
}

.container-player-btns label {
    border: 1px dashed;
    padding: 2px 5px!important;
}

.container-player-btns label.btn.btn-primary:focus {
    background: none;
    color: grey;
    border: none;
}

.container-player-btns label.btn.btn-primary:hover {
    background: none;
    color: grey;
    border: none;
}

.content-top-nav label.btn.btn-primary:hover {
    background: none;
    color: grey;
    border: none;
}

.content-top-nav label.btn.btn-primary:focus {
    background: none;
    color: grey;
    border: none;
}


.content-top-nav label.btn.btn-primary.active {
    background: none;
    color: grey;
    border: none;
}

#servers, #databases {
  min-height: 280px;
}

.top-nav-btn-group{
      /*border: 1px dashed;*/
    margin-top: -3px;
    height: 38px;
}

.top-nav-btn-group .btn {
  padding: 2px 16px 0 16px!important;
}

.top-nav-btn-group .btn img {
  width: 20px;
}

.top-nav-btn-group label {
    background: none;
    color: grey;
    border: none;
}

.container-player-btns label{
   background: none;
    color: grey;
    border: none;
}

.container-player-btns label.btn.btn-primary.active{
   background: none!important;
    color: grey;
    border: none;
}


.project-wrapper h5 {
  font-size: 20px;
}

.proj-nav .nav li a {
  color: grey;
}

.proj-detail-title {
  padding: 0px;
  position: absolute;
  top: -38px;
  /*border: 1px dashed red;*/
  color: grey;
}

.proj-nav .nav {
    position: relative;
    /*border: 1px dashed;*/
    /* right: 26px; */
    text-align: right;
    /*background: #6363E5;*/
    padding: 10px;
    margin: -10px;
    height: 50px;
}

.add-proj-icon {
    width: 28px;
    height: 28px;
}

.add-proj-icon img {
  width: 100%;
  /*border: 1px dashed;*/
  margin-top: -23px;
    width: 18px;
    margin-left: -8px;
}

#menu > div {
  /*width: 100%;*/
  color: #DADADA;
  /*padding: 15px;*/
  /*border-bottom: 1px solid #DADADA;*/
  /*text-align: center;*/
}

#menu > #bottomNav {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  padding: 10px;
}

#menu label {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  /*background: black;*/
  margin-top: 6px;
}

#content {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  padding:10px;
}

.proj-nav ul li {
    margin-top: -4px;
}

.centered-content {
    max-width: 400px;
}

.width-12 {
  width: 100%;
}

.file-custom::before {
  border: none!important;
  background: none!important;
}

.form-input-spacing {
  margin: 25px 0;
}

.border-bottom-input {
  border-top: 0!important;
  border-left: 0!important;
  border-right: 0!important;
  border-radius: 0!important;
}

.card {
  /*min-height: 145px;*/
  margin-bottom: 15px;
  /*background: #F3F3F3!important;*/
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 4px solid #9393F5;
}

#addBody {
    margin: 120px auto;
    max-width: 400px;
}

#addBody button {
  margin-top: 20px;
}

#addBody h2 {
  text-align: center;
}

#addText {
  margin-top: 20px;
  font-size: 12px;
}

.active {
  color: green;
}


.content-wrapper {
  padding: 10px!important;
}

.project-detail-nav {
  float: right;
}

#right-column {
  padding-left: 199px;
}

.content-top-nav {
  border-bottom: 1px solid #F1F1F3;
  padding: 10px 9px 10px 9px;
  text-align: right;
  height: 50px;
}

.content-top-nav button {
  /*border: none;*/
  margin-top: -14px;
  padding-top: 6px;
}

.content-top-nav button:hover {
  background: none;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  /*border-left: 2px solid white;*/
}

.card-title button {
    margin: 0;
    line-height: inherit;
    border-radius: 0;
    background: none;
    border: none;
    color: red;
    font-size: 12px;
    position: absolute;
    right: 12px;
}

.container-list {
  list-style-type: none;
  display: inline-block;
  margin: 2em;
}

.container-save {
  /*right: 265px;*/
  position: absolute;
    right: 0;
    top: -9px;
}

.divider {
  border-bottom: 1px solid #DCD9D9;
  margin-bottom: 35px;
}

.text-container {
  float: left;
}

.text-version {
  float: right;
  color: gray;
}

.text-description {
  clear: left;
}

.button-container {
  margin: 2em;
  width: 300px;
  height: 300px;
}

#databases {
  margin-top: 40px;
}


.padding-left-none {
  padding-left: 0!important;
}
